#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#DPKG_EXPORT_BUILDFLAGS = 1
#include /usr/share/dpkg/buildflags.mk

export VERBOSE = yes
export BAZDIR = ${CURDIR}/debian/bazel-bootstrap
export BAZDATADIR = ${CURDIR}/debian/bazel-bootstrap-data

# Bypass ccache
export CCACHE_DISABLE = 1
export CCACHE_TEMPDIR = ${CURDIR}/debian/ccachetmp

# Ensure packages build with no Internet access
export http_proxy=127.0.0.1:9
export https_proxy=127.0.0.1:9

# BAZEL_CXXOPTS and BAZEL_LINKOPTS take a list of flags seperated by colon
export space = $() $()
export BAZEL_CXXOPTS = $(subst $(space),:,-std=c++0x ${CPPFLAGS} ${CXXFLAGS})
export BAZEL_LINKOPTS = $(subst $(space),:,-lstdc++ -lm ${LDFLAGS})

# Use the local JDK
export EXTRA_BAZEL_ARGS = \
	--host_javabase=@local_jdk//:jdk \
	--define=distribution=debian \
	--noremote_accept_cached \
	--verbose_failures \
	--compilation_mode dbg \
	--sandbox_debug \
	--sandbox_writable_path=${HOME}/.ccache/tmp \
	--action_env=CCACHE_DISABLE \
	--action_env=CCACHE_TEMPDIR \
	--override_repository=com_google_protobuf=${CURDIR}/tools/distributions/debian/protobuf \
	--override_repository=remote_java_tools_linux=${CURDIR}/mock_repos/remote_java_tools_linux \
	--override_repository=bazel_skylib=${CURDIR}/mock_repos/bazel_skylib \
	--override_repository=io_bazel_skydoc=${CURDIR}/mock_repos/bazel_skydoc \
	--override_repository=rules_pkg=${CURDIR}/mock_repos/rules_pkg \
	--override_repository=rules_cc=${CURDIR}/mock_repos/rules_cc \
	--override_repository=rules_java=${CURDIR}/mock_repos/rules_java \
	--override_repository=rules_proto=${CURDIR}/mock_repos/rules_proto \
	--override_repository=platforms=${CURDIR}/mock_repos/platforms \
	--distinct_host_configuration=false

export PROTOC = /usr/bin/protoc
export GRPC_JAVA_PLUGIN = /usr/bin/grpc_java_plugin

%:
	dh $@ --with python3

override_dh_auto_build:
	mkdir -p ${CURDIR}/debian/ccachetmp
	./compile.sh

override_dh_auto_clean:
	dh_auto_clean
	rm -rf derived
	rm -f output
	rm -f bazel-*

override_dh_install:
	mkdir -p debian/tmp
	rm -f output/usr/share/bazel/xcode-locator
	rm -rf output/usr/share/bazel/embedded_tools/tools/jdk/nosystemjdk
	mv output/* debian/tmp
	dh_install
	rm -rf ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/zip/zipper

override_dh_installdocs:
	dh_installdocs --package=bazel-bootstrap -XREADME.Debian
	dh_installdocs --package=bazel-bootstrap-data --doc-main-package=bazel-bootstrap
	mv ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/build_defs/pkg/README.md \
		${BAZDATADIR}/usr/share/doc/bazel-bootstrap/README-build_defs.md
	mv ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/config/README.md \
		${BAZDATADIR}/usr/share/doc/bazel-bootstrap/README-config.md

override_dh_link:
	jdupes -rl ${BAZDATADIR}/usr
	find ${BAZDATADIR}/usr/share/bazel/embedded_tools -type f -name \
		'*.h' -printf '%h\n' | sort -u | sed 's@/build.*embedded_tools/@@' | \
		xargs -I% mkdir -p ${BAZDATADIR}/usr/include/bazel/%
	find ${BAZDATADIR}/usr/share/bazel/embedded_tools -name '*.h' | \
		sed 's@/build.*/embedded_tools/@@g' | xargs -I% ln -rs \
		${BAZDATADIR}/usr/share/bazel/embedded_tools/% \
		${BAZDATADIR}/usr/include/bazel/%
	dh_link

override_dh_fixperms:
	find ${BAZDATADIR}/usr/share -type f -print0 2>/dev/null | xargs -0r chmod a-x
	find ${BAZDATADIR}/usr/share/doc/bazel/examples -type f \
		-not -name '*.sh' -print0 2>/dev/null | xargs -0r chmod a-x
	find ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools \
		-type f -name '*.sh*' -print0 2>/dev/null | xargs -0r chmod a+x
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/buildstamp/get_workspace_status
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/cpp/build_interface_so
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/cpp/linux_cc_wrapper.sh.tpl
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/cpp/osx_cc_wrapper.sh.tpl
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/objc/gcov_stub
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/objc/mcov_stub
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/objc/protobuf_support
	chmod a+x ${BAZDATADIR}/usr/share/bazel/embedded_tools/tools/python/pywrapper_template.txt
	dh_fixperms

#dh_bash-completion is not correctly annotating that it has installed files
override_dh_missing:
	dh_missing -Xbazel-complete.bash
